/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
  }
  
  .cv-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffcfcad;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header p {
    font-size: 18px;
    color: #555;
  }
  
  section {
    margin: 20px 0;
  }
  
  section h2 {
    font-size: 24px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 8px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul li {
    margin-bottom: 10px;
    
  }
  
